anyio==3.5.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
astor==0.8.1
astroid==2.6.6
async-generator==1.10
attrs==21.4.0
autopep8==1.5.7
Babel==2.9.1
backcall==0.2.0
beautifulsoup4==4.10.0
bibtexparser==1.2.0
bleach==4.1.0
cached-property==1.5.2
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.10
click==8.0.3
contextvars==2.4
cycler==0.11.0
dataclasses==0.8
dataclasses-json==0.5.6
debuggingbook==1.0.1
decorator==4.4.2
defusedxml==0.7.1
diff-match-patch==20200713
dill==0.3.4
docutils==0.18.1
easyplotly==0.1.3
enforce==0.3.4
entrypoints==0.3
flake8==3.9.2
future==0.18.2
fuzzingbook==0.9.5
gitdb==4.0.9
GitPython==3.1.18
graphviz==0.19.1
idna==3.3
immutables==0.16
importlib-metadata==4.8.3
inexactsearch==1.0.2
intervaltree==3.1.0
ipykernel==5.5.6
ipypublish==0.10.12
ipython==7.16.2
ipython-genutils==0.2.0
ipywidgets==7.6.5
isort==5.10.1
jedi==0.17.2
Jinja2==3.0.3
joblib==1.1.0
json5==0.9.6
jsonextended==0.7.11
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==7.1.1
jupyter-console==6.4.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core==4.9.1
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-lsp==1.5.1
jupyter-nbextensions-configurator==0.4.1
jupyter-server==1.13.1
jupyterlab==3.3.0a1
jupyterlab-lsp==3.9.2
jupyterlab-markup==1.0.0a1
jupyterlab-pygments==0.1.2
jupyterlab-server==2.10.3
jupyterlab-widgets==1.0.2
jupytext==1.13.6
kiwisolver==1.3.1
lazy-object-proxy==1.7.1
libcst==0.4.0
lizard==1.17.9
lxml==4.7.1
Markdown==3.3.6
markdown-it-py==1.1.0
MarkupSafe==2.0.1
marshmallow==3.14.1
marshmallow-enum==1.5.1
matplotlib==3.3.4
mccabe==0.6.1
mdit-py-plugins==0.3.0
mistune==0.8.4
multiprocess==0.70.12.2
mypy==0.931
mypy-extensions==0.4.3
nbclassic==0.3.5
nbclient==0.5.9
nbconvert==6.0.7
nbformat==5.1.3
nbstripout==0.5.0
nest-asyncio==1.5.4
networkx==2.5.1
notebook==6.4.7
numpy==1.19.5
ordered-set==4.0.2
packaging==21.3
pandas==1.1.5
pandoc-mermaid-filter==0.1.0
pandocfilters==1.5.0
panflute==2.1.3
parse==1.19.0
parso==0.7.1
patch==1.16
pathlib2==2.3.6
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.4.0
pkg_resources==0.0.0
plotly==5.5.0
pluggy==1.0.0
prometheus-client==0.12.0
prompt-toolkit==3.0.24
psutil==5.9.0
ptyprocess==0.7.0
pycodestyle==2.7.0
pycparser==2.21
pycrypto==2.6.1
pydocstyle==6.1.1
PyDriller==2.0
pyflakes==2.3.1
pygit2==1.6.1
Pygments==2.11.2
pylint==2.9.6
pyparsing==2.4.7
pyre-check==0.9.6
pyre-extensions==0.0.27
pyrsistent==0.18.0
python-dateutil==2.8.2
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.2.4
python-magic==0.4.24
pytz==2021.3
pywatchman==1.4.1
PyYAML==6.0
pyzmq==22.3.0
qtconsole==5.2.2
QtPy==2.0.0
requests==2.27.1
rope==0.22.0
ruamel.yaml==0.17.20
ruamel.yaml.clib==0.2.6
scikit-learn==0.24.2
scipy==1.5.4
selenium==3.141.0
Send2Trash==1.8.0
showast==0.2.4
silpa-common==0.3
six==1.16.0
smmap==5.0.0
sniffio==1.2.0
snowballstemmer==2.2.0
sortedcontainers==2.4.0
soundex==1.1.3
soupsieve==2.3.1
spellchecker==0.4
tabulate==0.8.9
tenacity==8.0.1
terminado==0.12.1
testpath==0.5.0
TestSlide==2.7.0
threadpoolctl==3.0.0
toml==0.10.2
tomli==1.2.3
tornado==6.1
traitlets==4.3.3
typed-ast==1.4.3
typeguard==2.13.3
types-Markdown==3.3.12
typing-inspect==0.7.1
typing_extensions==4.0.1
ujson==4.3.0
urllib3==1.26.8
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.2.3
widgetsnbextension==3.5.2
wrapt==1.12.1
yapf==0.32.0
zipp==3.6.0
